.btn {
  height: 100px;
  width: 300px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: rgb(123, 123, 214);
  /* transition-property: background-color color;
  transition-duration: 1s; */
  transition: background-color 1s ease-in-out 1s,
    color 2s ease 2s,
    border-radius 3s ease-out 3s;
}

.btn:hover {
  background-color: green;
  color: black;
  border-radius: 50%;
}

.move {
  margin: 2em;
  width: 150px;
  padding: 10px 15px;
  background-color: red;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 0.5em;
  font-size: 20px;
  transition-property: translate();
  transition-duration: 3s;
}

#ease {
  transition-timing-function: ease;
}

#linear {
  transition-timing-function: linear;
}

#ease-in {
  transition-timing-function: ease-in;
}

#ease-out {
  transition-timing-function: ease-out;
}

#ease-in-out {
  transition-timing-function: ease-in-out;
}

.move:hover {
  transform: translateX(900px);
}
